NEXT_PUBLIC_SITE_URL=https://blik-marketing.ru
RESEND_API_KEY=
CONTACT_EMAIL=itsdanilina@yandex.ru
NEXT_PUBLIC_YANDEX_METRIKA_ID=
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
SANITY_PROJECT_ID=
SANITY_DATASET=production
